@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.nav-container{
    display: flex;
    justify-content: space-around;
    padding: 25px;
    background-color: rgba(210, 210, 210, 0.9);
}

.items{
    display: flex;
}
.item{
    list-style: none;
    margin-right: 20px;
    font-size: 20px;
    font-weight: 500;
}

.banner-container{
    background-image: url(./asset/image/background.jpg) , linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4));
    background-blend-mode: overlay;
    background-size: cover;
    height: 100vh; 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}
.text-primary{
    color: rgb(230, 2, 2);
}
.section-title{
    font-size: 70px;
}
.section-description{
    font-size: 18px;
    padding: 20px 0;
}

.banner-btn{
    padding: 10px;
}

.btn-primary{
    padding: 20px;
    font-weight: 600;
    border-radius: 10px;
    border: none;
    background-color: rgb(230, 2, 2);
    color: white;
    cursor: pointer;
}

.btn-primary:hover{
    background-color: transparent;
    color: rgb(230, 2, 2);
    border: 1px solid rgb(230, 2, 2);

}



.btn-secondary{
    padding: 20px;
    font-weight: 600;
    border-radius: 10px;
    border: none;
    background-color: transparent;
    border: 1px solid rgb(230, 2, 2);
    color: white;
    cursor: pointer;
}

.btn-secondary:hover{
    background-color: rgb(230, 2, 2);
    color: white;

}