@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.nav-container{
    display: flex;
    justify-content: space-around;
    padding: 25px;
    background-color: rgba(210, 210, 210, 0.9);
}

.items{
    display: flex;
}
.item{
    list-style: none;
    margin-right: 20px;
    font-size: 20px;
    font-weight: 500;
}

/* banner */

.banner-container{
    background-image: url(./asset/image/background.jpg) , linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4));
    background-blend-mode: overlay;
    background-size: cover;
    height: 100vh; 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}
.text-primary{
    color: rgb(230, 2, 2);
}
.section-title{
    font-size: 70px;
}
.section-description{
    font-size: 18px;
    padding: 20px 0;
}

.banner-btn{
    padding: 10px;
}

.btn-primary{
    padding: 20px;
    font-weight: 600;
    border-radius: 10px;
    border: none;
    background-color: rgb(230, 2, 2);
    color: white;
    cursor: pointer;
}

.btn-primary:hover{
    background-color: transparent;
    color: rgb(230, 2, 2);
    border: 1px solid rgb(230, 2, 2);

}



.btn-secondary{
    padding: 20px;
    font-weight: 600;
    border-radius: 10px;
    border: none;
    background-color: transparent;
    border: 1px solid rgb(230, 2, 2);
    color: white;
    cursor: pointer;
}

.btn-secondary:hover{
    background-color: rgb(230, 2, 2);
    color: white;

}

/* Service */

.my-service{
    display: flex;
    background-image: url(./asset/image/footer-bg.png), linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0, 0.9));
    height: 100vh;
    background-blend-mode: overlay;
    align-items: center;
    justify-content: center;
    color: azure;
    padding: 30px;
    gap: 50px;
}

.service-title{
    font-size: 30px;
    padding: 10px 0;
}

.service-description{
    padding: 10px 0;
}

.list{
    padding-bottom: 10px;
}

.service-tools{
    display: flex;
}

.author{
    display: flex;
    padding: 20px;
}

.more-details{
    padding: 20px;
    border-left: 2px solid rgb(230, 2, 2);
}

.info{
    margin-right: 20px;
}

.author-img{
    width: 70px;
    border-radius: 50%;
}

.icons{
    width: 100px;
}

.tech{
    background-color: white;
    margin-top: 20px;
    width: 250px;
    height: 250px;
    text-align: center;
    justify-content: center;
    padding-top: 50px;
    color: black;
    border-radius: 5px;
}
.market{
    background-color: white;
    margin-top: 20px;
    width: 250px;
    height: 250px;
    text-align: center;
    justify-content: center;
    padding-top: 50px;
    color: black;
    border-radius: 5px;
}

.tool1{
    margin-right: 15px;
}

/*  */

.appointment{
    display: flex;
    background-color: darkorange;
    width: 80%;
   margin: 0 auto;
   border-radius: 20px;
   margin-top: -80px;
   text-align: center;
   justify-content: center ;
}

.appointment-details{
    display: flex;
    padding: 25px;
    border-right: 2px solid rgb(230, 2, 2);
    
}

.appointment-description{
    display: flex;
    padding: 25px;
}

.call-icon{
    margin-right: 15px;
    width: 90px;
    height: 90px;
}

.btn-appointment{
    padding: 15px;
    font-weight: 600;
    border-radius: 20px;
    border: none;
    background-color: transparent;
    margin-left: 10px;
    border: 1px solid rgb(230, 2, 2);
    color: white;
    cursor: pointer;
}

.btn-appointment:hover{
    background-color: rgb(230, 2, 2);
    color: white;

}